/* colour palette */
.mint-green-background {
    background-color: #bcdfb2;
}

.light-green-background {
    background-color: #dfe3cb;
}

.light-blue-background {
    background-color: #9ebdff;
}

.light-yellow-background {
    background-color: #f5eebc;
}