{% extends 'hame/base.html' %}
{% load static %}

{% block body %}
<div class="flex-grow-1 d-flex flex-column light-green-background p-5">
    <div class="card col-lg-8 mx-auto p-4 py-md-5 light-blue-background border-black">

        <div class="d-flex justify-content-center mb-5">
            <h1 class="text-body-emphasis text-center fw-semibold">About HAME</h1>
        </div>
        <div>
            <h2 class="fs-3 fw-semibold">What is HAME?</h2>
            <p class="fs-5 fw-medium">
                HAME (Hyperlocal Accessibility Map of Edinburgh) is a community-driven platform dedicated to highlighting the (in)accessibility of the city Edinburgh.
                For many reviewing platforms, accessibility is often overlooked, leading to confusion and frustration for those with access requirements or other similar needs.
                The purpose of HAME is to provide an accessibility-first space for Edinburgh residents and visitors alike to share their experiences, with the common goal of empowering every individual to navigate the city with ease and dignity.
            </p>
            <h2 class="fs-3 fw-semibold">How it works</h2>
            <p class="fs-5 fw-medium">
                All of the accessibility information for each location on HAME is built on the reports made by your fellow users. 
                If during your time in Edinburgh you have noticed any barriers to access or locations that go above and beyond for accessibility, you can select the location on the map and let the community know about your experience.
                Over time, this builds a detailed picture of how Edinburgh is actually experienced by the people who live, work and visit here.
                While the main focus is on helping each other get around, our hope is that this information can also help inform local businesses and the council about the state of the city's accessibility, and help them make improvements where needed.
            </p>
        </div>

    </div>
</div>
{% endblock %}