<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            HAME - {% block title %}Home{% endblock %}
        </title>
        <!-- Bootstrap's CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> -->
        <!-- custom CSS -->
         <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>

    <body>
        <!-- header -->
        <nav class="navbar fixed-top navbar-expand-lg mint-green-background border-bottom border-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand fs-2" href="{% url 'hame:index' %}">HAME</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation bar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav gap-2">
                        <a href="{% url 'hame:index' %}" class="btn btn-lg btn-outline-dark {% if request.resolver_match.url_name == 'index' %}active{% endif %}">Home</a>
                        <a href="{% url 'hame:about' %}" class="btn btn-lg btn-outline-dark {% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a>
                        <a href="{% url 'hame:resources' %}" class="btn btn-lg btn-outline-dark {% if request.resolver_match.url_name == 'resources' %}active{% endif %}">Resources</a>
                    </div>
                    <ul class="navbar-nav ms-auto navbar-right">
                        <li class="nav-item">
                            <a href="#" class="nav-link fs-5">Site Settings</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link fs-5">My Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            {% block body %}
            {% endblock %}
        </div>
        <!-- Bootstrap's JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>