{% extends 'hame/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block header %}
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@6.0.0/dist/maplibre-gl.css' />
    <!-- <script src='https://unpkg.com/maplibre-gl@5.24.0/dist/maplibre-gl.js'></script> -->
{% endblock %}

{% block body %}
<div id="map"></div>
<script type="module">
    import * as maplibregl from 'https://unpkg.com/maplibre-gl@6.0.0/dist/maplibre-gl.mjs';
    // initialise the map
    const map = new maplibregl.Map({
        style: 'https://tiles.openfreemap.org/styles/bright',  // tile source
        center: [-3.1958, 55.9416],  // centre on Edinburgh by default
        zoom: 11.8,
        minZoom: 11.8,  // lock how far out the map can be zoomed to only the size of Edinburgh
        container: 'map',
        maxBounds: [  // lock the area visible on the map to just Edinburgh
            [-3.5, 55.855],  // west, south
            [-2.9, 56.0145]  // east, north
        ]
    });

    // define the area that isn't Edinburgh
    map.on('load', async () => {
        const response = await fetch("{% static 'edinburghmask.geojson' %}");
        const geojson = await response.json();

        map.addSource('mask', {
            type: 'geojson',
            data: geojson
        });

        map.addLayer({
            id: 'mask-layer',
            type: 'fill',
            source: 'mask',
            paint: {
                'fill-color': '#888888',
                'fill-opacity': 0.6,
                'fill-outline-color': '#242424',
            }
        });
    });
</script>
{% endblock %}