{% extends 'hame/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block header %}
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@6.0.0/dist/maplibre-gl.css' />
    <!-- <script src='https://unpkg.com/maplibre-gl@5.24.0/dist/maplibre-gl.js'></script> -->
{% endblock %}

{% block body %}
<div id="map"></div>
<script type="module">
    import * as maplibregl from 'https://unpkg.com/maplibre-gl@6.0.0/dist/maplibre-gl.mjs';
    // initialise the map
    const map = new maplibregl.Map({
        style: 'https://tiles.openfreemap.org/styles/bright',  // tile source
        center: [-3.1958, 55.9416],  // centre on Edinburgh by default
        zoom: 11.8,
        minZoom: 11.8,  // lock how far out the map can be zoomed to only the size of Edinburgh
        container: 'map',
        maxBounds: [  // lock the area visible on the map to just Edinburgh
            [-3.5, 55.855],  // west, south
            [-2.9, 56.0145]  // east, north
        ],
        maxPitch: 0,
    });

    // define the target area from .geojson file
    map.on('load', async () => {
        const response = await fetch("{% static 'edinburghmask.geojson' %}?t=" + Date.now());  // force browser to get most recent geojson
        const geojson = await response.json();

        map.addSource('mask', {
            type: 'geojson',
            data: geojson
        });

        // mask the outer area
        map.addLayer({
            id: 'mask-layer',
            type: 'fill',
            source: 'mask',
            paint: {
                'fill-color': '#888888',
                'fill-opacity': 0.6,
                'fill-outline-color': '#242424',
            }
        });
        
        // show navigation controls
        map.addControl(
            new maplibregl.NavigationControl({
                visualizeRoll: true,
                showZoom: true,
                shoCompass: true}),
            'bottom-right'
        );

        // geolocate the user
        // TODO: restrict so user is only located if within max bounds
        map.addControl(
            new maplibregl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            }),
            'bottom-right'
        );
        
    });
</script>
{% endblock %}